---
interface Props {
  wrapTitle: string;
}
const { wrapTitle } = Astro.props;
---

<section class="mt-16">
  <h2 class="font-heading font-bold text-h2 mb-2">Conclusion:</h2>
  <h1 class="font-heading font-bold text-h1 mb-6">{wrapTitle}</h1>
  <div class="prose-ha max-w-[820px]">
    <slot />
  </div>
</section>
